/CaseVideException.class
/CasePleineException.class
/Strategie.class
/Strategie1.class
/Strategie2.class
/Coordonnee.class
/Cote.class
/TitulaireAbsentException.class
/Valeur.class
/Pion.class
/Pion$Couleurs.class
